<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask the question</title>
</head>
<body>
    <header class="main-header">
        <nav>
            <div class="container">
                <ul>
                    <li><a href="qa/templates/display_new.html">New questions</a></li>
                    <li><a href="qa/templates/post_question.html">Ask new question</a></li>
                    <li><a href="qa/templates/display_popular.html">Popular question</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <p>Ask the question:</p>
            <form action="" method="post">
                {% csrf_token %}
                <p>{{form.title}}</p>
                <p>{{form.text}}</p>
                <p><button type="submit">Ask</button></p>
            </form>
        </div>
    </main>
    
</body>
</html>